@model SimpleInventory.Domain.Models.Category
@{
    ViewData["Title"] = "New Category";
}

<h1 class="text-center mb-3">New Category</h1>

<form asp-action="Create" asp-controller="Category" method="post">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
